version: "3.7"
services:
  xgds:
    container_name: docker-compose-xgds
    build:
      context: ./subsea
      dockerfile: Dockerfile
      args:
        - BING_MAPS_API_KEY=${BING_MAPS_API_KEY}
    hostname: xgds
    ports:
      - "127.0.0.1:8181:8181"
    depends_on:
      - mariadb
      - couchdb
      - redis

    # ===================================
    # if you want to develop locally,
    # uncomment the four lines below, making sure to run:
    # export XGDS_WORKING_DIRECTORY=/path/to/xgds
    # ===================================
    volumes:
      - ${XGDS_WORKING_DIRECTORY}:/root/xgds_subsea
      - subsea-usr-local:/usr/local

    # ===================================
    # use this command for debugging; this
    # will bypass the startup.sh script
    # ===================================
    # command: tail -f /dev/null

  mariadb:
    container_name: docker-compose-mariadb
    image: mariadb:latest
    restart: always
    hostname: mariadb
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: xgds
#      MYSQL_DATABASE: xgds_subsea
    entrypoint:
      sh -c "
      echo 'CREATE DATABASE IF NOT EXISTS xgds_subsea; CREATE DATABASE IF NOT EXISTS owa_subsea;' > /docker-entrypoint-initdb.d/init.sql;
      /usr/local/bin/docker-entrypoint.sh --character-set-server=latin1 --collation-server=latin1_general_ci
      "
    volumes:
      - mariadb-data:/var/lib/mysql

  nginx:
    container_name: docker-compose-nginx
    build: ./nginx
    hostname: nginx
    ports:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
    depends_on:
      - xgds
      - geoserver
      - owa

  geoserver:
    container_name: docker-compose-geoserver
    build: ./geoserver
    hostname: geoserver
    volumes:
      - geoserver-data:/usr/share/geoserver/data_dir
    ports:
      - "127.0.0.1:8080:8080"
    restart: on-failure

  owa:
    # TODO figure out ports and data store and configuration
    container_name: docker-compose-owa
    image: vladk1m0/docker-owa:latest
    hostname: owa
    volumes:
      - owa-data:/var/www/html
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    depends_on:
      - mariadb

  portainer:
    container_name: docker-compose-portainer
    image: portainer/portainer
    # ===================================
    # username: admin
    # password: xgds
    # ===================================
    command: --admin-password '$$2y$$05$$5k0NxA4ktFHymAEnQFWoUuaPvMUmIreXw.SrKMIhtaCBf7yJnB5ya' -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    ports:
      - "127.0.0.1:9000:9000"

  redis:
    container_name: docker-compose-redis
    image: redis:5-alpine
    hostname: redis
    expose:
      - 6379
    volumes:
      - redis-data:/data

  couchdb:
    container_name: docker-compose-couchdb
    image: couchdb:latest
    hostname: couchdb
    ports:
      - "127.0.0.1:5984:5984"
    volumes:
      - type: volume
        source: couchdb-data
        target: /opt/couchdb/data
        volume:
          nocopy: false
      - type: volume
        source: couchdb-config
        target: /opt/couchdb/etc
        volume:
          nocopy: false

volumes:
  couchdb-data:
    labels:
      persistent: true
  couchdb-config:
    labels:
      persistent: true
  redis-data:
    labels:
      persistent: true
  geoserver-data:
    labels:
      persistent: true
  mariadb-data:
    labels:
      persistent: true
  portainer-data:
    labels:
      persistent: true
  subsea-usr-local:
    labels:
      persistent: true
  owa-data:
    labels:
      persistent: true
