version: "2.0"
services:
  xgds:
    build: ./subsea
    ports:
      - "222:22"
    # ===================================
    # if you want to develop locally, 
    # uncomment the two lines below
    # ===================================
    # volumes:
    #   - ./xgds_subsea:/root/xgds_subsea

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - xgds
      - geoserver

  geoserver:
    image: kartoza/geoserver:2.13.0
    logging:
      driver: none
    volumes:
      - ./geoserver-data:/opt/geoserver/data_dir
    ports:
      - "8080:8080"
    restart: on-failure
    depends_on:
      - xgds
    environment:
      - GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
      - ENABLE_JSONP=true
      - MAX_FILTER_RULES=20
      - OPTIMIZE_LINE_WIDTH=false
      - FOOTPRINTS_DATA_DIR=/opt/footprints_dir
      - GEOWEBCACHE_CACHE_DIR=/opt/geoserver/data_dir/gwc
