django==1.11.15
django-pipeline
django-compressor
pyScss
git+https://github.com/etianen/django-reversion.git
django-sphinx
coverage
httplib2
jinja2
pyproj
iso8601
pytz
python-dateutil
django-treebeard
django-taggit
django-filter
git+https://github.com/alex/django-filter.git
gdata
pyzmq
pylibmc
pyzmq
gevent
msgpack-python
zerorpc
tornado
django-tagging
GitPython
rdflib==2.4.2
django-debug-toolbar
pep8==1.7.0
django-bower
m3u8 
django-resumable
pykml
django-discover-runner
fpdf
flask
flask-sse
qrcode
git+https://github.com/xgds/spc.git
pandas
SQLAlchemy
django-deepzoom
django-datatables-view==1.14.0
django-markwhat
django-autocomplete-light
couchdb
python-memcached
polycircles
untangle
requests
shapely
fastkml
LatLon
PyPDF2
redis
scikit-image
django-adaptors
gunicorn
markdown
djangorestframework
django-cors-headers
PyYAML
docutils
coverage
django-jsonify
colour
utm
openpyxl
