#__BEGIN_LICENSE__
# Copyright (c) 2015, United States Government, as represented by the
# Administrator of the National Aeronautics and Space Administration.
# All rights reserved.
#
# The xGDS platform is licensed under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# http://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software distributed
# under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
# CONDITIONS OF ANY KIND, either express or implied. See the License for the
# specific language governing permissions and limitations under the License.
#__END_LICENSE__

# this config is designed for use on a development instance or behind a local proxy.
# It uses un-encrypted http to talk to clients

Listen {{apache_http_port}}
<VirtualHost *:{{apache_http_port}}>
        ServerAdmin admin@xgds.org
        ServerName {{ansible_fqdn}}

        # DocumentRoot /var/www
        <Directory /var/www/html>
                Options Indexes
                AllowOverride None
                Require all granted
        </Directory>

        Alias /static {{source_root}}/xgds_{{xgds_sitename}}/build/static
        Alias /favicon.ico {{source_root}}/xgds_{{xgds_sitename}}/build/static/xgds_{{xgds_sitename}}_app/icons/favicon.ico
        <Directory {{source_root}}/xgds_{{xgds_sitename}}>
                Options Indexes FollowSymLinks
                AllowOverride None
		        Require all granted
        </Directory>

        Alias /data {{source_root}}/xgds_{{xgds_sitename}}/data
	
        WSGIDaemonProcess xgds_{{xgds_sitename}} processes=2 threads=15 maximum-requests=10000 display-name=xgds_{{xgds_sitename}}
        WSGIPassAuthorization on
	    WSGIApplicationGroup %{GLOBAL}
	    
        <Location />
                WSGIProcessGroup xgds_{{xgds_sitename}}
        </Location>
        
        <Location ~ ".*/rest/.*" >
          AllowOverride None
          <RequireAll>
             Require valid-user
          </RequireAll>
          AuthType Basic
          AuthName {{xgds_sitename}}
          AuthBasicProvider wsgi
          WSGIAuthUserScript {{source_root}}/xgds_{{xgds_sitename}}/djangoWsgi.py
          Header set Access-Control-Allow-Origin "*"
        </Location>

        <Location "/apache_logout/">
          SetHandler form-logout-handler
          AuthName {{xgds_sitename}}
          AuthFormLogoutLocation "/accounts/logout/"
          Session On
          SessionMaxAge 1
          SessionCookieName session path=/
       </Location>

       <Location ~ "^((?!/rest/).)*$">
          # password protection allowing directory and file access      
          SetEnvIf Request_URI "/accounts/login/$" allow
          SetEnvIf Request_URI "/accounts/logout/$" allow
          SetEnvIf Request_URI "/accounts/register/$" allow
          SetEnvIf Request_URI "/accounts/reset-password.*/$" allow
          SetEnvIf Request_URI "/accounts/reset-password-done/$" allow
          SetEnvIf Request_URI "/accounts/reset-password-confirm/$" allow
          SetEnvIf Request_URI "/accounts/reset-password-confirm/.*/.*$" allow
          SetEnvIf Request_URI "/static/.*" allow
          ErrorDocument 401 /accounts/login/
          AuthType Form
          AuthFormProvider wsgi
          AuthName {{xgds_sitename}}
          WSGIAuthUserScript {{source_root}}/xgds_{{xgds_sitename}}/djangoWsgi.py
          <RequireAny>
            <RequireAll>
                Require valid-user
            </RequireAll>
            <RequireAll>
                Require env allow
                Require all granted
            </RequireAll>
          </RequireAny>
           Session On
           SessionCookieName session path=/
        </Location>
        
        WSGIScriptAlias / {{source_root}}/xgds_{{xgds_sitename}}/djangoWsgi.py
		FileETag None
		EnableSendfile off 
</VirtualHost>
