server {
  server_name _;
  client_max_body_size 0;

  listen 443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;

  ssl_certificate       /usr/local/ssl/xgds.fullbundle;
  ssl_certificate_key   /usr/local/ssl/xgds.key;
  ssl_dhparam           /usr/local/ssl/dhparam.pem;
  access_log            /var/log/nginx/proxy.access.log;

  location / {
    proxy_set_header          Host $host;
    proxy_set_header          X-Real-IP $remote_addr;
    proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header          X-Forwarded-Proto $scheme;
    proxy_pass                http://xgds:{{ apache_port }};
    proxy_read_timeout        90;
    proxy_redirect            http://xgds:{{ apache_port }} http://xgds;
  }

  location /geoserver/ {
    proxy_set_header          Host $host;
    proxy_set_header          X-Real-IP $remote_addr;
    proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header          X-Forwarded-Proto $scheme;
    proxy_pass                http://geoserver:{{ geoserver_port }};
    proxy_read_timeout        90;
    proxy_redirect            http://geoserver:{{ geoserver_port }} http://geoserver;
  }

  location /sse/ {
    proxy_set_header          Host $host;
    proxy_set_header          X-Real-IP $remote_addr;
    proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header          X-Forwarded-Proto $scheme;
    proxy_http_version        1.1;
    chunked_transfer_encoding off;
    proxy_buffering           off;
    proxy_cache               off;
    proxy_pass                http://xgds:{{ sse_port }}/;
    proxy_read_timeout        90;
    proxy_redirect            http://xgds:{{ sse_port }} http://xgds;
  }

  location /owa/ {
    proxy_set_header          Host $host;
    proxy_set_header          X-Real-IP $remote_addr;
    proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header          X-Forwarded-Proto $scheme;
    proxy_pass                http://owa:{{ owa_port }}/;
    proxy_read_timeout        90;
    proxy_redirect            http://owa:{{ owa_port }} http://owa;
  }

  location /jupyter/ {
    proxy_pass http://jupyter:{{ jupyter_port }};
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $http_host;
    proxy_http_version 1.1;
    proxy_redirect off;
    proxy_buffering off;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_read_timeout 86400;
  }

  location /portainer/ {
    proxy_set_header          Host $host;
    proxy_set_header          X-Real-IP $remote_addr;
    proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header          X-Forwarded-Proto $scheme;
    proxy_pass                http://portainer:{{ portainer_port }}/;
    proxy_read_timeout        86400;
    proxy_redirect            http://portainer:{{ portainer_port }} http://portainer;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}

server {
   listen 80;
   return 301 https://$host$request_uri;
}
